@font-face{
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}
    
@font-face{
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}
    
@font-face{
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}
    
@font-face{
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

body{
    margin: 0;
    background-color: #FFF;
}

h1, h3, p{
    margin: 0;
}

.container{
    width: 1146px;
    margin-right: auto;
    margin-left: auto;
}

.container-2{
    width: 1203px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.header-links{
    display: flex;
    gap: 30px;
}

.header-item-first{
    color: #F25822;
    text-decoration: none;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-item{
    color: #000;
    text-decoration: none;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.header-icon{
    width: 6px;
    height: 3px;
    flex-shrink: 0;
    color: #000;
}

.intro{
    display: flex;
    justify-content: space-between;
    gap: 41px;
    margin-top: 96px;
    align-items: center;
    margin-bottom: 162px;   
}

.intro-title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
    width: 522px;
}

.intro-text{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
    width: 466px;
}

.intro-wrapper{
    display: flex;
    gap: 72px;
    align-items: center;
}

.button{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
}

.intro-button{
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal; 
}

.intro-item{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.partners{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.advantages-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    gap: 30px;
}

.advantages-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.advantage-item{
    padding-top: 35px;
    padding-right: 31px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.advantage-title{
    margin-top: 25px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.advantage-text{
    margin-bottom: 25px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    flex-shrink: 0;
}

.advantage-link{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.why-you-should-choose{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-you-should-title{
    margin-top: 92px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
}

.why-you-should-text{
    width: 682px;
    margin-top: 19px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.choose-us{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 54px;
    margin-bottom: 100px;
}

.choose-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-content{
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.choose-title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}

.choose-text{
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; 
    width: 310px;   
    flex-shrink: 0;
    margin-top: 22px;
}

.choose-button{
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    margin-top: 39px;
}
